/* Hide horizontal tabs at the top of the window #1349, #1672, #2147 */
#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar > .toolbar-items {
  opacity: 0;
  pointer-events: none;
}
#main-window:not([tabsintitlebar="true"]) #TabsToolbar {
    visibility: collapse !important;
}

/* Reduce minimum width of the sidebar #1373 */
#sidebar-box {
  min-width: 100px !important;
}

/* Hide the "Tree Style Tab" header at the top of the sidebar
 * For only Tree Style Tab sidebar #1397 */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
  display: none;
}
