{{ if eq .chezmoi.osRelease.id "arch" -}}
#!/bin/sh
doas pacman -Sy --noconfirm --needed base-devel git aria2
cd $(mktemp -d)
curl https://aur.archlinux.org/cgit/aur.git/snapshot/paru-bin.tar.gz -o - |tar xvfz  -
cd paru-bin      
makepkg -s
doas pacman -U --noconfirm paru-bin*.tar.zst
{{ end -}}

